* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
h2,
section h3,
form button, 
footer {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

h4, h5 {
    font-family: 'Courier New', Courier, monospace; 
}


header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    color: #ecf0f1;
    font-size: 18px;
}

header nav li {
    color: #ecf0f1;
    text-decoration: none;
}

 ul a {
    color: #ecf0f1
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.store-front {
    height: 450px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

h2 {
    padding-left: 40px;
}

a, h4 {
    text-decoration: none; 
    color: black;
    padding-bottom: 20px;
    font-size: 20px;
}

h5 { 
    color: rgb(74, 73, 73);
    padding-bottom: 15px;
}

.titulo {

    text-decoration: none;

}

.produto img {
    display: block;
    width: 250px;
    height: 290px;
    margin: 0 auto;
    padding-bottom: 15px;
}


section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: center;
    align-items: center;

}


section h3 {
    margin-bottom: 16px;
}

button {
    background-color: rgb(142, 142, 186);
    color: #ecf0f1;
    padding: 10px;
    border: solid 1px rgb(142, 142, 186);
    border-radius: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

button:hover {
    background-color: rgb(142, 142, 186);
    color: ecf0f1;
    transform: scale(1.1);
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}

.produtos .produto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding-left: 20px;
    text-align: center;
}

aside {
    padding-left: 40px;
}

aside .noticia {
    margin-bottom: 24px;
}

/* Estilos para telas menores (celular) */
@media screen and (max-width: 767px) {
    .produtos {
        grid-template-columns: 100%; /* Um produto por linha */
    }
}

/* Estilos para telas de tamanho médio (tablet) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .produtos {
        grid-template-columns: repeat(2, 49%); /* Dois produtos por linha */
    }
}

/* Estilos para telas maiores (desktop) */
@media screen and (min-width: 1024px) {
    .produtos {
        grid-template-columns: repeat(4, 24%); /* Quatro produtos por linha */
    }
}
